/* Desktop - 1440px */
@media (max-width: 71440px) {
}

/* __________________________________________________ */
@media (max-width: 1024px) {
  /* header */
  .nav-ul {
    width: 408px;
    gap: 44px;
  }
  /* section-1 */
  .section1 {
    padding-top: 132px;
  }
  .section1-main-div {
    flex-direction: column;
  }
  .section1-title-div {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
  }
  .section1-left-div {
    width: 96%;
  }
  .section1-h1 {
    text-align: center;
  }
  .section1-p1 {
    text-align: center;
  }
  .section1-button-div {
    width: 100%;
    justify-content: center;
  }
  .section1-p2 {
    max-width: 370px;
    width: 100%;
  }
  .section1-img {
    width: 100%;
    height: 450px;
  }
  /* section2 */
  .section2-main-div {
    padding: 32px;
  }
  /* section3 */
  .section3 {
    padding: 32px;
  }
  .section3-main-div {
    flex-direction: column;
  }
  .section3-img-div {
    width: 100%;
    height: 550px;
  }
  .section3-text-div {
    width: 100%;
    flex-direction: row;
    align-content: space-between;
    column-gap: 129px;
  }

  /* footer */
  .footer-column-none {
    display: none;
  }

  .footer-main-div {
    flex-direction: column;
    row-gap: 48px;
    justify-content: flex-start;
  }
  .footer {
    padding: 45px 32px 45px 32px;
  }
}

/* _____________________________________________________ */
@media (max-width: 744px) {
  /* header */

  .nav-ul {
    max-width: 320px;
    width: 96%;
    gap: 22px;
  }

  /* section-1 */
  .section1 {
    padding-top: 100px;
  }
  .section1-main-div {
    max-width: 696px;
    width: 100%;
  }
  .section1-p1 {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  .section1-h1 {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 900;
    line-height: 49px;
    letter-spacing: -1px;
    text-align: center;
  }
  .section1-button-div {
    flex-direction: column;
    row-gap: 16px;
  }
  .section1-p2 {
    text-align: center;
    width: 100%;
  }

  /* section-2 */
  .section2-main-div {
    flex-direction: column;
  }
  .section2-h2 {
    text-align: center;
  }
  .section2-p {
    text-align: center;
  }

  /* section3 */
  .section3-main-div {
    padding: 24px;
  }
  .section3-img-div {
    width: 100%;
    height: 550px;
  }
  .section3-h2 {
    text-align: center;
  }
  .section3-text-div {
    flex-direction: column;
    text-align: center;
  }
  /* section4 */
  .section4-bg-text {
    max-width: 744px;
    width: 96%;
  }
  /* footer */
  .footer {
    padding: 25px 22px 25px 22px;
  }
  .footer-main-div {
    row-gap: 20px;
    justify-content: flex-start;
  }
}

/* _____________________________________________________ */
@media (max-width: 520px) {
  .button {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .nav-ul {
    display: none;
  }
}
/* _________________________________________________ */
@media (max-width: 375px) {
  .footer-main-div {
    margin: 0 auto;
  }

  .footer-column {
    align-items: center;
  }
  .footer-column-topics {
    align-items: center;
  }
}
